<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />  
    <title>Matt's Burger Kingdom</title>
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>
<body>
    {{{body}}}
 
 <script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>
  {{!-- <script src="app.js"></script> --}}
</body>
</html>