<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Almendra SC' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Matt's Burger Kingdom</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/assets/js/burgers.js"></script>
</head>

<body class="html">
    {{{body}}}
</body>

</html>