.main { 
  background: url(../img/restaurantbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.h1 {
  font-family: 'Almendra SC';
               font-size: 22px;
               color: beige;
               text-align: center;
               text-shadow: 2px 2px black;
            
}

.h2 {
  font-family: 'Almendra SC';
               font-size: 20px;
               color: beige;
               text-align: center;
               text-shadow: 2px 2px black;
}

.h4 {
  font-family: 'Almendra SC';
               font-size: 18px;
               color: beige;
               text-align: center;
               text-shadow: 2px 2px rgba(165, 42, 42, 0.199);
            
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    color: beige;
    text-shadow: 2px 2px black;
  }

  span {
    background-color: rgb(119, 10, 10);
  }

  #smash {
    font-family: "Slackey";
    background-color: green
  }

  #delete {
    font-family: 'Caveat', cursive;
    background-color: maroon;
    text-align: center;
    color: white
  }

  #addbutton {
    font-family: 'Almendra SC';
    color: beige;
    text-align: center;
    background-color: #09690c;
  }
  
  #addbutton:hover {
    background-color: #09690c;
    color: beige;
    text-shadow: 2px 2px black;
    border: 2px solid #09690c;
  }
  
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    color: beige;
    text-shadow: 2px 2px black;
    text-align: center
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }